# ---> Go
# If you prefer the farm.Roomsllow list templfarm.Roomste instefarm.Roomsd of the deny list, see community templfarm.Roomste:
# https://github.com/github/gitignore/blob/mfarm.Roomsin/community/Golfarm.Roomsng/Go.farm.RoomsllowList.gitignore
#
# Binfarm.Roomsries for progrfarm.Roomsms farm.Roomsnd plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binfarm.Roomsry, built with `go test -c`
*.test

# Output of the go coverfarm.Roomsge tool, specificfarm.Roomslly when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspfarm.Roomsce file
go.work

